@font-face {
  font-family: Camel Product Sans;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/CamelProductSans-Black.woff2') format('woff2')
}
@font-face {
  font-family: Camel Product Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/CamelProductSans-Bold.woff2') format('woff2')
}
@font-face {
  font-family: Camel Product Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/CamelProductSans-Medium.woff2') format('woff2')
}
@font-face {
  font-family: Camel Product Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/CamelProductSans-Regular.woff2') format('woff2')
}
@font-face {
  font-family: Camel Product Sans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/CamelProductSans-Light.woff2') format('woff2')
}
@font-face {
  font-family: Camel Product Sans;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./fonts/CamelProductSans-Thin.woff2') format('woff2')
}

body.legit-light {
  background-color: #F5F6F7;
}

body.legit-dark {
  background-color: #111214;
}

body.light {
  background-color: #FFFFFF;
}

body.dark {
  background-color: #000000;
}

#__next{
  height: 100%;
}

* ::-webkit-scrollbar {
  display: none;
}
* ::-webkit-scrollbar-track {
  display: none;
}
* ::-webkit-scrollbar-thumb {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: white;
  background-image: url("data:image/svg+xml;utf8,<svg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg' name='DeleteCircleFilled' viewBox='2 2 24 24' class='css-1vrdp3z'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 3a9 9 0 1 0 0 18 9 9 0 0 0 0-18ZM7.793 9.207 10.586 12l-2.793 2.793 1.414 1.414L12 13.414l2.793 2.793 1.414-1.414L13.414 12l2.793-2.793-1.414-1.414L12 10.586 9.207 7.793 7.793 9.207Z' fill='rgb(194, 195, 204)'></path></svg>");
  --tw-bg-opacity: 1;
  border-radius: 100%;
  cursor: pointer;
}

input ::placeholder {
  color: #C6C7CC;
}

.swiper-lazy:not(.swiper-lazy-loaded) {
  display: none;
}
